.lobby-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 8px;

  height: 100%;

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;

  padding: 8px 16px;
  box-sizing: border-box;

  user-select: none;

  &__title {
    font-size: 1.4em;
    font-weight: 500;
    font-weight: 700;
  }

  &__separator {
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__text {
    font-size: 1em;
    font-weight: 500;
  }
}
