@import '../../../sassStyles/variables.scss';
.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  background-color: #ffffff;
  padding: 16px;
  box-shadow: $shadow;

  border-radius: 4px;

  &__icon{
    & path {
      fill: #ff5656;
    }
  }

  &__message{
    font-size: 28px;
    color: rgba(#000, 0.8);
    font-weight: bold;
  }
}